body {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
}

#buttoncontainer {
  margin: 1px 1px;
  border-radius: 3px;
  border-style: 3px solid black;
}

.btn {
  border-radius: 3px;
  border-style: 3px solid black;
}
